[package]
name = "w5500-hl"
version = "0.7.1"
authors = ["Alex Martens <alex@thinglab.org>"]
edition = "2021"
rust-version = "1.56"
repository = "https://github.com/newAM/w5500-rs"
license = "MIT"
description = "Driver for the Wiznet W5500 internet offload chip."
readme = "README.md"
keywords = ["spi", "driver", "embedded-hal-driver", "W5500", "wiznet"]
categories = ["embedded", "hardware-support", "no-std"]
homepage = "https://github.com/newAM/w5500-rs"

[features]
defmt = ["w5500-ll/defmt", "dfmt"]
embedded-hal = ["w5500-ll/embedded-hal"]
std = ["w5500-ll/std"]

[dependencies]
dfmt = { package = "defmt", version = "0.3", optional = true }
w5500-ll = "0.10"

[dev-dependencies]
embedded-hal-mock = "0.8"
w5500-ll = { version = "0.10", features = ["embedded-hal", "defmt"] }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
