[package]
name = "w5500-hl"
version = "0.9.0"
authors = ["Alex Martens <alex@thinglab.org>"]
edition = "2021"
repository = "https://github.com/newAM/w5500-rs"
license = "MIT"
description = "Driver for the Wiznet W5500 internet offload chip."
readme = "README.md"
keywords = ["spi", "driver", "embedded-hal-driver", "W5500", "wiznet"]
categories = ["embedded", "hardware-support", "no-std"]
homepage = "https://github.com/newAM/w5500-rs"

[features]
defmt = ["w5500-ll/defmt", "dep:defmt"]
eh0 = ["w5500-ll/eh0"]
eh1 = ["w5500-ll/eh1"]
std = ["w5500-ll/std"]

[dependencies]
defmt = { version = "0.3", optional = true }
w5500-ll = { path = "../ll", version = "0.10" }

[dev-dependencies]
embedded-hal-mock = { git = "https://github.com/dbrgn/embedded-hal-mock", branch = "1-alpha" }
embedded-hal = "1.0.0-alpha.8"
w5500-ll = { path = "../ll", version = "0.10", features = ["eh1", "defmt"] }

[package.metadata.docs.rs]
all-features = true
features = ["eh0", "eh1", "std"]
rustdoc-args = ["--cfg", "docsrs"]
