[package]
name = "w5500-ll"
version = "0.10.4"
authors = ["Alex Martens <alex@thinglab.org>"]
edition = "2021"
repository = "https://github.com/newAM/w5500-rs"
license = "MIT"
description = "Low level driver for the Wiznet W5500 internet offload chip."
readme = "README.md"
keywords = ["spi", "driver", "embedded-hal-driver", "W5500", "wiznet"]
categories = ["embedded", "hardware-support", "no-std"]
homepage = "https://github.com/newAM/w5500-rs"

[features]
std = []

[dependencies]
eh0 = { package = "embedded-hal", version = "0.2.7", optional = true }
eh1 = { package = "embedded-hal", version = "1.0.0-alpha.8", optional = true }
defmt = { version = "0.3", optional = true }

[dev-dependencies]
ehm0 = { package = "embedded-hal-mock", version = "0.8" }
ehm1 = { package = "embedded-hal-mock", git = "https://github.com/dbrgn/embedded-hal-mock", branch = "1-alpha" }

[package.metadata.docs.rs]
all-features = true
features = ["eh0", "eh1", "std"]
rustdoc-args = ["--cfg", "docsrs"]
