[package]
name = "w5500-mqtt"
version = "0.1.2"
authors = ["Alex Martens <alex@thinglab.org>"]
edition = "2021"
repository = "https://github.com/newAM/w5500-rs"
license = "MIT"
description = "MQTT client for the Wiznet W5500 internet offload chip."
readme = "README.md"
keywords = ["MQTT", "W5500", "wiznet"]
categories = ["embedded", "hardware-support", "no-std"]
homepage = "https://github.com/newAM/w5500-rs"

[features]
eh0 = ["w5500-hl/eh0"]
eh1 = ["w5500-hl/eh1"]
defmt = ["w5500-hl/defmt", "dep:defmt"]
std = ["w5500-hl/std", "w5500-tls?/std"]
log = ["dep:log", "w5500-tls?/log"]
p256-cm4 = ["w5500-tls?/p256-cm4"]

[dependencies]
defmt = { version = "0.3", optional = true }
log = { version = "0.4", optional = true }
w5500-hl = { path = "../hl", version = "0.9.0" }
w5500-tls = { path = "../tls", version = "0.1.3", optional = true }

[dev-dependencies]
bytes = "1"
log = "0.4"
mqttbytes = "0.6"
rand_core = { version = "0.6", features = ["getrandom"] }
stderrlog = "0.5"
w5500-regsim.path = "../regsim"

[package.metadata.docs.rs]
all-features = false
features = ["log", "std", "embedded-hal", "w5500-tls"]
rustdoc-args = ["--cfg", "docsrs"]
