[package]
name = "w5500-fuzz"
version = "0.1.0"
publish = false
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
rand_core = "0.10"
w5500-ll.path = "../ll"
